

<h1 class="mt-5">Agregar Producto</h1>
<hr>

<form [formGroup]="miFormulario">

    <div class="row g-3 align-items-center mb-3 d-flex ">

        <div class="col-auto">
            <label class="col-form-label">Nombre:</label>
        </div>

        <div class="col-auto">
            <input class="form-control"
                    formControlName="nombre">
        </div>

        <div class="col-auto">
            <span class="form-text"
                  [valido]="!tieneError('nombre')"
                  errorMsg
                  [color]="color"
                  [mensaje]="mensaje">
            </span>
        </div>

        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-primary"
                        (click)="cambiarMensaje()">
                    Guardar
                </button>

                &nbsp;
                <button class="btn btn-primary ml-1"
                        (click)="cambiarColor()">
                    Cambiar Color
                </button>
            </div>
        </div>
    </div>
</form>


<h3 class="mt-5" errorMsg color="orange">Formulario</h3>
<pre>Value: {{miFormulario.valid}}</pre>
<pre>Valor: {{miFormulario.value |json}}</pre>

<div class="row mt-5"
    *customIf="miFormulario.valid">
    <div class="col">
        <div class="alert alert-primary">
            Todo OK!
        </div>
    </div>
</div>
